:root {
    --IRIS: #4D5AE5;
    --OCEAN: #404BBF;
    --NAVYBLUE: #2E2F42;
    --WHITE: #FFF;
    --SLATE: #434455;
    --CORNFLOWER: #E7E9FC;
    --CLOUD: #F4F4FD;
}

h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul {
    margin: 0;
    padding: 0;
  }


body {
    font-family: roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2%;
}



.container {
    margin: 0 auto;
    width: 1158px;
    padding: 0 15px;  
}

.list {
    list-style-type: none;
    padding: 0;
    
}

.link {
    list-style-type: none;
    padding: 0;
    text-decoration: none;
}

.section {
    padding: 120px 0;
}

.web-logo {
    color: var(--IRIS, #4D5AE5);
}

.studio-logo {
    color: var(--NAVYBLUE, #2E2F42);
    
}

.header-logo {
    color: var(--navyblue, #2e2f42);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.section-grey {
    background-color: var(--CLOUD, #F4F4FD);
}

.our-team-background {
    background-color: var(--WHITE, #FFF);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}



/* Header - Navigation */

.header {
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
}

.header-navigation {
    display: flex;
    align-items: center;
    
}


/* NAV of Studio, Portfolio and Content */

.header-container {
    display: flex;
    justify-content: space-between;
    
}

.header-list {
    display: flex;
    gap: 40px;    
    margin-left: 76px;
    padding-top: 24px 0;
}

.header-link {
    color: var(--NAVYBLUE, #2E2F42);
    font-weight: 500;
    letter-spacing: .32px;
  
}

.header-link:hover, 
.header-link:focus {
    color: var(--OCEAN, #2E2F42)
}

.current {
    color: var(--OCEAN, #404BBF);
}

/* Email and Contacts   */

.header-address {
    display: flex;
    gap: 40px;
  
}

.header-address-link {
    display: block;
    padding: 24px 0;
}

.contacts {
    color: var(--SLATE, #434455);
    text-decoration: none;
}

.contacts:hover,
.contacts:focus {
    color: var(--OCEAN, #404BBF);
}

.list {
    list-style-type: none;
}


/* hero section */
.hero-section { 
    background-color: var(--NAVYBLUE, #2E2F42);
    align-items: center;
    justify-content: center;
    padding: 188px 0;
    text-align: center;
}


.hero-title {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; 
    letter-spacing: 1.12px;
    text-transform: uppercase;
    margin-bottom: 40px;
    
}

.hero-button {
    cursor: pointer;
    color: var(--WHITE, #FFF);
    background: var(--IRIS, #4D5AE5);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.64px;
    
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;

    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;

}

.hero-button:hover,
.hero-button:focus {
    color: var(--WHITE, #FFF);
    background-color: var(--OCEAN);
}



/* SECTION BENEFITS */

.sec-title {
    margin-bottom: 72px;
}

.benefit-list{
    display: flex;
    /* justify-content: ; */
    gap: 24px;
   
    

}

.benefits-title {
    color: var(--NAVYBLUE, #2E2F42);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
    width: 264px;
}

.title-description {
    color: var(--SLATE, #434455);
    width: 264px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.32px;
}

/*  OUR TEAM SECTION */

.sectiontitle-h2 {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    /* margin-bottom: 72px; */

    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}


.ourteam-h3 {

    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.4px;
}

.ourteam-position {
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.32px;
    text-align: center;
    margin-bottom: 32px;
}


.what-are-we {
    display: flex;
    justify-content: space-between;
}

.our-team {
    display: flex;
    justify-content: space-between;
}

.ourteam-name {
    text-align: center;
    margin-bottom: 8px;
    margin-top: 32px;
    
}

/* FOOTER */

.footer {
    background-color: var(--NAVYBLUE, #2E2F42);
}

.footer-description {
    color: var(--CLOUD, #F4F4FD);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-top: 8px;
}

.footer-studiologo2 {
    color: var(--CLOUD, #F4F4FD);

}

.footer-section {
    background-color: var(--NAVYBLUE, #2E2F42);
    padding: 100px 0;
}

.footer-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Portfolio */

.filter-item {
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 4px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    letter-spacing:  .64px;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--CLOUD, #F4F4FD);
    color: var(--IRIS, #4D5AE5);
    
}



.filter-item:hover {
    color: var(--WHITE, #F4F4FD);
    background: var(--OCEAN, #404BBF);
    border: 1px solid var(--OCEAN, #404BBF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.active {
    color: var(--WHITE, #FFF);
    background: var(--OCEAN, #404BBF);
    border: 1px solid var(--OCEAN, #404BBF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

}

.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 72px;
    
}

.project {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    justify-content: center;
    align-items: center;
}

.project-name {
    padding: 32px 16px;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    border-top: none;
}

img {
    display: block;
}


.project-title {
    margin-bottom: 8px;

}

.project-style {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: .4px;
}

.section-no-top-padding {
    padding-top: 0;
}